/jcMATH/Bin/Release/AppManifest.xaml
/jcMATH/Bin/Release/AppxManifest.xml
/jcMATH/Bin/Release/Microsoft.Phone.Controls.Toolkit.dll
/jcMATH/Bin/Release/Properties/WMAppManifest.xml
/jcMATH/Bin/Release/System.Windows.Interactivity.dll
/jcMATH/Bin/Release/Telerik.Windows.Behaviors.dll
/jcMATH/Bin/Release/Telerik.Windows.Behaviors.pdb
/jcMATH/Bin/Release/Telerik.Windows.Behaviors.xml
/jcMATH/Bin/Release/Telerik.Windows.Controls.Input.dll
/jcMATH/Bin/Release/Telerik.Windows.Controls.Input.pdb
/jcMATH/Bin/Release/Telerik.Windows.Controls.Input.xml
/jcMATH/Bin/Release/Telerik.Windows.Controls.Primitives.dll
/jcMATH/Bin/Release/Telerik.Windows.Controls.Primitives.pdb
/jcMATH/Bin/Release/Telerik.Windows.Controls.Primitives.xml
/jcMATH/Bin/Release/Telerik.Windows.Core.dll
/jcMATH/Bin/Release/Telerik.Windows.Core.pdb
/jcMATH/Bin/Release/Telerik.Windows.Core.xml
/jcMATH/Bin/Release/de-DE/Telerik.Windows.Controls.Input.resources.dll
/jcMATH/Bin/Release/de-DE/Telerik.Windows.Controls.Primitives.resources.dll
/jcMATH/Bin/Release/de/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/en/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/es/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/fr-FR/Telerik.Windows.Controls.Input.resources.dll
/jcMATH/Bin/Release/fr-FR/Telerik.Windows.Controls.Primitives.resources.dll
/jcMATH/Bin/Release/fr/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/it-IT/Telerik.Windows.Controls.Input.resources.dll
/jcMATH/Bin/Release/it-IT/Telerik.Windows.Controls.Primitives.resources.dll
/jcMATH/Bin/Release/it/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/ja/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/jcMATH.build.appxrecipe
/jcMATH/Bin/Release/jcMATH.dll
/jcMATH/Bin/Release/jcMATH.pdb
/jcMATH/Bin/Release/jcMATH_Release_AnyCPU.xap
/jcMATH/Bin/Release/jcWPLIBRARY.dll
/jcMATH/Bin/Release/jcWPLIBRARY.xml
/jcMATH/Bin/Release/ko/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/resources.pri
/jcMATH/Bin/Release/ru/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/zh-Hans/System.Windows.Interactivity.resources.dll
/jcMATH/Bin/Release/zh-Hant/System.Windows.Interactivity.resources.dll
/jcMATH/obj/Release/AboutPage.g.cs
/jcMATH/obj/Release/AboutPage.g.i.cs
/jcMATH/obj/Release/App.g.cs
/jcMATH/obj/Release/App.g.i.cs
/jcMATH/obj/Release/DesignTimeResolveAssemblyReferences.cache
/jcMATH/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcMATH/obj/Release/MDILProjectFiles.xml
/jcMATH/obj/Release/MainPage.g.cs
/jcMATH/obj/Release/MainPage.g.i.cs
/jcMATH/obj/Release/MultipleQualifiersPerDimensionFound.txt
/jcMATH/obj/Release/ProjectArchitectures.txt
/jcMATH/obj/Release/SettingsPage.g.cs
/jcMATH/obj/Release/SettingsPage.g.i.cs
/jcMATH/obj/Release/TempPE/Resources.AppResources.Designer.cs.dll
/jcMATH/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcMATH/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcMATH/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcMATH/obj/Release/XapCacheFile.xml
/jcMATH/obj/Release/jcMATH.Resources.AppResources.resources
/jcMATH/obj/Release/jcMATH.csproj.FileListAbsolute.txt
/jcMATH/obj/Release/jcMATH.csproj.GenerateResource.Cache
/jcMATH/obj/Release/jcMATH.csprojResolveAssemblyReference.cache
/jcMATH/obj/Release/jcMATH.dll
/jcMATH/obj/Release/jcMATH.g.resources
/jcMATH/obj/Release/jcMATH.pdb
/jcMATH/obj/Release/layout.resfiles
/jcMATH/obj/Release/layout.resfiles.intermediate
/jcMATH/obj/Release/pri.resfiles
/jcMATH/obj/Release/pri.resfiles.intermediate
/jcMATH/obj/Release/priconfig.xml
/jcMATH/obj/Release/priconfig.xml.intermediate
/jcMATH/obj/Release/qualifiers.txt
/jcMATH/obj/Release/qualifiers.txt.intermediate
/jcMATH/obj/Release/resources.resfiles
/jcMATH/obj/Release/resources.resfiles.intermediate
/.vs/jcMATH/v14/vbcs.cache/edb.chk
/.vs/jcMATH/v14/vbcs.cache/edb.log
/.vs/jcMATH/v14/vbcs.cache/edbres00001.jrs
/.vs/jcMATH/v14/vbcs.cache/edbres00002.jrs
/.vs/jcMATH/v14/vbcs.cache/edbtmp.log
/.vs/jcMATH/v14/vbcs.cache/storage.ide
/Screenshots/Thumbs.db
